<!DCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Micronaut Control Panel
        {{#if ext.controlPanel.title}}
            - {{ext.controlPanel.title}}
        {{/if}}
    </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.min.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/highlight.js@11.7.0/styles/androidstudio.css">
</head>
<body class="hold-transition sidebar-mini">

<!-- jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>

<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item">
                <h3>
                    Micronaut Control Panel for <code>{{ applicationName }}</code>
                    {{#if activeEnvironments}}
                        {{#each activeEnvironments }}
                            <span class="badge badge-primary">{{ this }}</span>
                        {{/each}}
                    {{/if}}
                </h3>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            {{#if canRefresh}}
                <li class="nav-item">
                    <a class="nav-link" id="refreshButton" role="button" data-toggle="modal" data-target="#stopRefreshModal" data-action="refresh">
                        <i class="fas fa-arrows-rotate"></i>
                    </a>
                </li>
            {{/if}}

            {{#if canStop}}
                <li class="nav-item">
                    <a class="nav-link" id="stopButton" role="button" data-toggle="modal" data-target="#stopRefreshModal" data-action="shutdown">
                        <i class="fas fa-stop"></i>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
    <!-- /.navbar -->

    <div class="modal fade" id="stopRefreshModal" tabindex="-1" role="dialog" aria-labelledby="stopRefreshModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stopRefreshModalLabel">Confirm</h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="stopConfirm">Shutdown</button>
                    <button type="button" class="btn btn-warning" id="refreshConfirm">Refresh</button>
                    <button type="button" class="btn btn-danger" id="refreshForce">Force refresh</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#stopRefreshModal').on('show.bs.modal', function (event) {
            var modal = $(this)
            var button = $(event.relatedTarget) // Button that triggered the modal
            var action = button.data('action') // Extract info from data-* attributes
            var body = "Refreshing the application will cause all Refreshable beans in the context to be destroyed and re-instantiated upon further requests."
            var confirm = "Are you sure you want to continue?"
            modal.find('#stopConfirm').hide()
            modal.find('#refreshConfirm').show()
            modal.find('#refreshForce').show()
            if (action === 'shutdown') {
                body = "Shutting down the application cannot be undone."
                modal.find('#stopConfirm').show()
                modal.find('#refreshConfirm').hide()
                modal.find('#refreshForce').hide()
            }

            modal.find('.modal-title').text('Confirm application ' + action)
            modal.find('.modal-body').html('<p class="card-text">' + body + '</p><p class="card-text">' + confirm + '</p>')
        })

        $('#stopConfirm').click(function() {
            $.ajax({
                url: '/stop',
                type: 'POST',
                success: function(result) {
                    $('#stopRefreshModal').modal('hide')
                    $('#globalAlertTitle').text('Application is shutting down')
                    $('#globalAlertMessage').text('The application is shutting down. Please wait for the server to stop.')
                    $('#globalAlert').removeClass('alert-success')
                    $('#globalAlert').addClass('alert-danger')
                    $('#globalAlert').show()
                }
            });
        })

        $('#refreshConfirm').click(function() {
            $.ajax({
                url: '/refresh',
                type: 'POST',
                success: function(result) {
                    $('#stopRefreshModal').modal('hide')
                    $('#globalAlertTitle').text('Application refreshed')
                    $('#globalAlertMessage').text('All Refreshable beans have been recreated.')

                    $('#globalAlert').show()
                }
            });
        })

        $('#refreshForce').click(function() {
            $.ajax({
                url: '/refresh',
                data: JSON.stringify({force: true}),
                contentType: "application/json; charset=utf-8",
                type: 'POST',
                success: function(result) {
                    $('#stopRefreshModal').modal('hide')
                    $('#globalAlertTitle').text('Application refreshed')
                    $('#globalAlertMessage').text('All Refreshable beans have been recreated regardless of environment changes.')

                    $('#globalAlert').show()
                }
            });
        })


    </script>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/control-panel" class="brand-link">
            <img src="https://docs.micronaut.io/latest/img/micronaut-logo-white.svg" alt="Micronaut Logo" class="brand-image" style="opacity: .8">
            <span class="brand-text font-weight-light">&nbsp;</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    {{#each categories as |category|}}
                        <li class="nav-item">
                            <a href="/control-panel/categories/{{ category.id }}" class="nav-link {{#eq currentCategory.id category.id}}active{{/eq}}">
                                <i class="nav-icon fas {{ category.iconClass }}"></i>
                                <p>{{ category.name }}</p>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                {{#if ext.controlPanel }}
                                    <li class="breadcrumb-item"><a href="/control-panel/categories/{{ ext.currentCategory.id }}"><i class="fas {{ ext.currentCategory.iconClass }}"></i> {{ ext.currentCategory.name }}</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ext.controlPanel.title}}</li>
                                {{else}}
                                    <li class="breadcrumb-item active"><i class="fas {{ ext.currentCategory.iconClass }}"></i> {{ ext.currentCategory.name }}</li>
                                {{/if}}
                            </ol>
                        </nav>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="alert alert-success" id="globalAlert" style="display:none;">
                    <h5>
                        <i class="icon fas fa-arrows-rotate"></i>
                        <span id="globalAlertTitle"></span>
                    </h5>
                    <span id="globalAlertMessage"></span>
                </div>
                {{> (stringFormat "views/%s" (lower contentView)) }}
            </div>
        </section>
    </div>

    <footer class="main-footer">
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- Bootstrap 4 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<!--highlight.js -->
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/languages/properties.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/languages/java.min.js"></script>
<script>hljs.highlightAll();</script>
<!--mermaid -->
<script src="https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.min.js"></script>
<script>
    // Don't try to render immediately
    mermaid.initialize({startOnLoad:false});
</script>
</body>
</html>
